/* NAVIGATION */

.nav-container {
	display: inline-block;
	width: 100%;
	height: auto;
	background-color: #e4fdf4;
	justify-content: center;
	position: fixed;
	top: 0;
}
.nav-item {
	font-size: 1rem;
	text-size-adjust: 70%;
	display: inline-block;
	position: fixed;
	top: 0;
	width: 100%;
}
div#header {
	background-color: #e4fdf4;
}
a:link {
	color: #57947b;
	padding-right: 2rem;
}
a:visited {
	color: #57947b;
	padding-right: 2rem;
}
a:hover {
	color: #73c5a3;
	padding-right: 2rem;
}
a:active {
	color: #9eb3ab;
	padding-right: 2rem;
}

/* GENERAL STYLES */
/* ~HTML~ */
html {
	font-size: 1rem;
	height: 100%;
}

/* ~Body~ */
body {
	height: 100%;
	min-height: 1800px;
	min-width: 400px;
	overflow-x: hidden;
	max-width: 100%;
}

/* ~Paragraphs~ */
p {
	font-family: "Red Rose", cursive;
	line-height: 1.25em;
	color: black;
	font-size: 1rem;
	max-width: 400px;
	justify-content: center;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

legend {
	font-family: "Red Rose", cursive;
	font-weight: 200;
	line-height: 1em;
	color: black;
	font-size: 0.8rem;
	max-width: 400px;
	justify-content: center;
	text-align: center;
	margin: 0px 0px 60px 0px;
	border-bottom: 0;
}
div.legend-bar {
	font-family: "Red Rose", cursive;
	font-weight: 200;
	line-height: 1.5em;
	width: 100vw;
	color: #57947b;
	margin: 0;
	background-color: #e4fdf4;
	font-size: 1rem;
	justify-content: left;
	text-align: left;
	margin: 10px 0px 0px 0px;
	padding-left: 2rem;
	border-bottom: 0;
}

/* ~Heads~ */
h1 {
	font-family: "Red Rose", cursive;
	font-weight: 700;
	color: black;
	font-size: 2.25rem;
	padding-right: 5px;
	padding-left: 5px;
	display: flex;
	float: none;
	top: 0;
	margin-top: 6%;
	margin-left: 15%;
}
h1.special {
	font-family: "Red Rose", cursive;
	font-weight: 400;
	color: black;
	font-size: 1.5rem;
	justify-content: center;
	text-align: center;
	/* padding-right: 5px;
	padding-left: 5px; */
	display: block;
	margin-top: 2%;
	margin-left: 0;
	margin-right: 0;
}
h2 {
	font-family: "Red Rose", cursive;
	font-weight: 300;
	color: black;
	font-size: 1.75 rem;
	padding-right: 5px;
	padding-left: 5px;
}

h3 {
	font-family: "Red Rose";
	font-weight: 400;
	font-size: 0.75rem;
	color: white;
	display: flex;
	position: absolute;
	flex-flow: row wrap;
	height: 3rem;
	background-color: #52957b;
	justify-content: center;
	width: 100%;
	justify-content: flex-end;
	padding-right: 10px;
	margin: 20px 20px 20px 20px;
}

/* POSITIONING ELEMENTS
~Containers~ */
#logo-container {
	margin: 0;
	padding: 3%;
	background-color: #e4fdf4;
}
.container-1 {
	border-radius: 5px;
	padding: 10px;
	background-color: #e4fdf4;
}
.flex-container {
	width: 100%;
	height: 30%;
	padding: 10px;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	/* align-self: flex-start;
	position: -webkit-sticky;
	position: sticky;
	top: 0; */
}
.container-2 {
	text-align: center;
	background-color: #e4fdf4
}

.text-center {
	margin-top: 5%;
}

/* ~Rows~ */
section.row {
	justify-content: space-evenly;
	/* align-items: center; */
	margin-left: 5%;
	background-color: #ffffff;
}
div.row {
	margin: 0px 0px 0px 0px;
	background-color: white;
	justify-content: center;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* ~Columns~ */
.column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}
label {
	font-family: "Red Rose", cursive;
	font-size: 24px;
	font-weight: lighter;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 0;
	margin-right: 2rem;
	float: left;
	max-width: 50%;
}
span {
	display: block;
	overflow: hidden;
	justify-content: center;
}
.text-center {
	text-align: center;
}
div.col-full {
	margin-top: 1rem;
	margin-left: 2rem;
	justify-content: center;
	padding-bottom: 0;
}
div.col-sm-2 {
	margin-top: 1rem;
	align-items: center;
	padding-bottom: 0;
}
div.col-sm-3 {
	margin-top: 1rem;
	align-items: center;
	padding-bottom: 0;
}
div.col-sm-4 {
	padding-top: 2rem;
}
.col-sm-3 {
	padding-bottom: 0;
}

/* ~IDs NOT OTHERWISE SPECIFIED~ */

#melissa {
	margin-top: 3rem;
	margin-bottom: 1rem;
	align-items: center;
	border-radius: 15px 15px 15px 15px;
}

/* ~Jumbotron~ */
.jumbotron {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #e4fdf4;
	font-family: "Red Rose", cursive;
	font-size: 0.75rem;
	color: black;
	line-height: 1rem;
	text-align: center;
	max-width: none;
	max-height: none;
	justify-content: center;
}
p#jumbotron {
	font-weight: lighter;
	margin: 0 auto;
	padding-bottom: 1rem;
	max-width: 800px;
}

/* ~Images~ */
img {
	border-radius: 15px 15px 15px 15px;
}
img.img-responsive {
	margin-bottom: 1rem;
	border-radius: 15px 15px 15px 15px;
}
img.shadow {
	filter: drop-shadow(0 0 0.15rem #c6c9ca);
}

/* ~Icons~ */
i {
	text-align: center;
	width: 100%;
	filter: drop-shadow(0 0.15rem #02020221);
}
i.fab {
	font-size: 45px;
	color: #52957b;
	padding-top: 7%;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 0%;
}
i.fas {
	font-size: 44px;
	color: #52957b;
	padding-top: 7%;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 0%;
}

/* INPUT AREAS*/
form {
	margin: 3rem;
}
input[type="text"],
select,
textarea {
	font-family: "Red Rose", cursive;
	font-weight: lighter;
	width: 80%;
	padding: 12px;
	border: 1px solid #cde4db;
	background-color: #e4fdf4;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	border-radius: 25px;
}
input[type="submit"] {
	background-color: #52957b;
	font-family: "Red Rose", cursive;
	font-weight: 500;
	color: white;
	padding: 12px 20px;
	margin-top: 5%;
	border: none;
	cursor: pointer;
	border-radius: 25px;
}
input[type="submit"]:hover {
	background-color: #52957b;
	font-family: "Red Rose", cursive;
	font-weight: lighter;
}

/*CONTACT ME ELEMENTS*/
form {
	margin: 3rem;
}
.address {
	display: inline-block;
	text-align: center;
	font-family: "Red Rose", cursive;
	color: #6c837a;
}
/* STICKY FOOTER */
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #52957b;
	color: white;
	font-family: "Red Rose", cursive;
	font-weight: 500;
	text-align: right;
	padding-right: 1rem;
	height: 2rem;
	text-align: right;
	padding-top: 0.5rem;
}

#logo {
	padding-top: 8vh;
}

/* ~Lists~ */
/* ul {
	display: inline-block;
	position: fixed;
	top: 0;
	background-color: #e4fdf4;
	font-family: "Red Rose", cursive;
	padding: 3% 0% 0% 4%;
	font-size: 28px;
	color: #52957b;
	text-size-adjust: 70%;
} */

li {
	display: inline-block;
	position: fixed;
	top: 0;
	text-align: left;
	width: 100%;
	background-color: #e4fdf4;
	font-family: "Red Rose", cursive;
	padding-top: 1%;
	padding-left: 3%;
	padding-bottom: 1%;
	padding-right: 0%;
	font-size: 28px;
	color: #52957b;
	text-size-adjust: 70%;
	/* list-style: none; */
}

/* MOBILE RESPONSIVENESS */
/* ~Page height~ */
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
@media (max-width: 800px) {
	.flex-container {
		flex-flow: row wrap;
	}
	@media (min-width: 640px) and (max-width: 1023px) {
		html {
			font-size: 1.0625rem;
		}
	}
	@media (min-width: 1024px) and (max-width: 1279px) {
		html {
			font-size: 1.125rem;
		}
	}
	/* Viewport width*/
	@media (min-width: 1280px) {
		html {
			font-size: 1.1875rem;
		}
	}
}
