/* NAVIGATION */
#menu {
	position: fixed;
}

.nav-container {
	display: flex;
	flex-flow: row wrap;
	height: auto;
	padding-top: 2%;
	background-color: #ffffff;
	align-items: left;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.nav-item {
	font-size: 1rem;
	float: left;
	text-size-adjust: 70%;
}
a.nav-link-active {
	color: #52957b;
}

/* GENERAL STYLES */
/* ~HTML~ */
html {
	font-size: 1rem;
	height: 100%;
}
/* ~Body~ */
body {
	height: 100%;
	min-height: 1800px;
	min-width: 400px;
	margin-right: -1rem;
	margin-left: -1rem;
	margin-top: 0;
	overflow: scroll;
}

/* ~Paragraphs~ */
p {
	font-family: "Red Rose", cursive;
	line-height: 1.25em;
	color: black;
	font-size: 1rem;
	max-width: 400px;
	align-content: center;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

legend {
	font-family: "Red Rose", cursive;
	font-weight: 200;
	line-height: 1em;
	color: black;
	font-size: 0.8rem;
	max-width: 400px;
	align-content: center;
	text-align: center;
	margin: 0px 0px 0px 0px;
	border-bottom: 0;
}

/* ~Heads~ */
h1 {
	font-family: "Red Rose", cursive;
	font-weight: 700;
	color: black;
	font-size: 2.25rem;
	padding-right: 5px;
	padding-left: 5px;
	display: flex;
	margin-top: 6%;
	margin-left: 15%;
}
h1.special {
	font-family: "Red Rose", cursive;
	font-weight: 400;
	color: black;
	font-size: 1.5rem;
	justify-content: center;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	display: flex;
	margin-top: 2%;
}
h2 {
	font-family: "Red Rose", cursive;
	font-weight: 300;
	color: black;
	font-size: 1.75 rem;
	padding-right: 5px;
	padding-left: 5px;
}

h3 {
	font-family: "Red Rose";
	font-weight: 400;
	font-size: 0.75rem;
	color: white;
	display: flex;
	position: absolute;
	flex-flow: row wrap;
	height: 3rem;
	background-color: #52957b;
	align-content: center;
	width: 100%;
	justify-content: flex-end;
	padding-right: 10px;
	margin: 20px 20px 20px 20px;
}

/* ~Lists~ */
ul {
	display: flex;
	/* align-items: flex-start; */
	text-align: left;
	background-color: #ffffff;
	flex-flow: row wrap;
}
li {
	font-family: "Red Rose", cursive;
	float: left;
	margin: 0.15rem;
	padding-left: 5%;
	font-size: 28px;
	color: #52957b;
	list-style: none;
	background-color: #ffffff;
	text-size-adjust: 70%;
}

/* POSITIONING ELEMENTS */
/* ~Containers~ */
/* .container-fluid {
	padding-bottom: 3rem;
} */
.container-2 {
	border-radius: 5px;
	padding: 10px;
	background-color: #e4fdf4;
}
.flex-container {
	width: 100%;
	height: 30%;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
div.container.text-center#name {
	font-size: 5rem;
}
.container-text-center {
	background-color: #e4fdf4;
}

/* ~Rows~ */
section.row {
	justify-content: space-evenly;
	align-items: center;
	margin-left: 5%;
}
div.row {
	margin: 0px 0px 0px 0px;
	background-color: white;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* ~Columns~ */
.column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}
.column label {
	font-family: "Red Rose", cursive;
	font-size: 24px;
	font-weight: lighter;
	margin-top: 2%;
	margin-bottom: 1%;
}
div.col-sm-3 {
	margin-top: 1rem;
	align-items: center;
	padding-bottom: 0;
}
div.col-sm-4 {
	padding-top: 2rem;
}
.col-sm-3 {
	padding-bottom: 0;
}

/* ~IDs NOT OTHERWISE SPECIFIED~ */
#special-contact {
	padding-top: 50px;
}
#debt {
	text-align: right;
	margin-top: 5%;
	margin-right: 20%;
	margin-bottom: 10%;
}
#bank {
	margin-top: 5%;
	margin-left: 45%;
}
#melissa {
	margin-right: 3rem;
	margin-left: 3rem;
	margin-bottom: 3rem;
	border-radius: 35px 35px 35px 35px;
}

/* ~Jumbotron~ */
#jumbotron {
	font-family: "Red Rose", cursive;
	line-height: 1em;
	color: black;
	font-size: 24px;
	max-width: none;
	max-height: none;
}
div.jumbotron {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #e4fdf4;
}
p#jumbotron {
	font-family: "Red Rose", cursive;
	font-size: 0.75rem;
	line-height: 1rem;
	align-items: center;
}

/* ~Images~ */
img {
	border-radius: 35px 35px 35px 35px;
}
img.img-responsive {
	margin-bottom: 1rem;
	border-radius: 35px 35px 35px 35px;
}
img.shadow {
	filter: drop-shadow(0 0 0.15rem #c6c9ca);
}

/* ~Icons~ */
i {
	text-align: center;
	width: 100%;
	filter: drop-shadow(0 0.15rem #02020221);
}
i.fab {
	font-size: 45px;
	color: #52957b;
	padding-top: 7%;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 0%;
}
i.fas {
	font-size: 44px;
	color: #52957b;
	padding-top: 7%;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 0%;
}

/* INPUT AREAS */
input[type="text"],
select,
textarea {
	font-family: "Red Rose", cursive;
	font-weight: lighter;
	width: 100%;
	padding: 12px;
	border: 1px solid #cde4db;
	background-color: #e4fdf4;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	border-radius: 25px;
}
input[type="submit"] {
	background-color: #52957b;
	font-family: "Red Rose", cursive;
	font-weight: 500;
	color: white;
	padding: 12px 20px;
	margin-top: 5%;
	border: none;
	cursor: pointer;
	border-radius: 25px;
}
input[type="submit"]:hover {
	background-color: #52957b;
	font-family: "Red Rose", cursive;
	font-weight: lighter;
}

/* STICKY FOOTER */
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #52957b;
	color: white;
	font-family: "Red Rose", cursive;
	font-weight: 500;
	text-align: right;
	padding-right: 1rem;
	height: 2rem;
	text-align: right;
	padding-top: 0.5rem;
}

/* MOBILE RESPONSIVENESS */
/* ~Page height~ */
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
@media (max-width: 800px) {
	.flex-container {
		flex-flow: row wrap;
	}
	@media (min-width: 640px) and (max-width: 1023px) {
		html {
			font-size: 1.0625rem;
		}
	}
	@media (min-width: 1024px) and (max-width: 1279px) {
		html {
			font-size: 1.125rem;
		}
	}
	/* Viewport width*/
	@media (min-width: 1280px) {
		html {
			font-size: 1.1875rem;
		}
	}
}
