body {
	height: 100%;
	/* max-height: 800px; */
	min-width: 400px;
	margin-right: -10px;
	margin-top: 0;
	margin-bottom: 0 !important;
	overflow: scroll;
}

#menu {
	position: fixed;
}
.nav-container {
	display: flex;
	flex-flow: row wrap;
	height: auto;
	padding-top: 2%;
	background-color: #ffffff;
	align-items: left;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.nav-item {
	font-family: "Red Rose", cursive;
	font-size: 24px;
	color: #d27d7d;
	float: left;
	text-size-adjust: 70%;
}

ul {
	display: flex;
	/* align-items: flex-start; */
	text-align: left;
	background-color: #ffffff;
	flex-flow: row wrap;
}

li {
	font-family: "Red Rose", cursive;
	float: left;
	margin: 5 px;
	padding-left: 5%;
	font-size: 28px;
	color: #d27d7d;
	list-style: none;
	background-color: #ffffff;
	text-size-adjust: 70%;
}

a.nav-link-active {
	color: #d27d7d;
}

section.row {
	justify-content: space-evenly;
	align-items: center;
	margin-left: 5%;
}

.flex-container {
	width: 100%;
	height: 30%;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: "Red Rose", cursive;
	font-weight: 700;
	color: black;
	font-size: 2.25rem;
	padding-right: 5px;
	padding-left: 5px;
	display: flex;
	margin-top: 0%;
}

h1.special {
	font-family: "Red Rose", cursive;
	font-weight: 400;
	color: black;
	font-size: 1.5rem;
	justify-content: center;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	display: flex;
	margin-top: 0%;
}

h2 {
	font-family: "Red Rose", cursive;
	font-weight: 300;
	color: black;
	font-size: 1.75 rem;
	padding-right: 5px;
	padding-left: 5px;
}

h3 {
	font-family: "Red Rose";
	font-weight: 400;
	font-size: 0.75rem;
	color: white;
	display: flex;
	position: absolute;
	flex-flow: row wrap;
	height: 3rem;
	background-color: #d27d7d;
	align-content: center;
	width: 100%;
	justify-content: flex-end;
	padding-right: 10px;
	margin: 20px 20px 20px 20px;
}

/* nav-container#footer {
	align-items: baseline;
	margin-bottom: 0px;
	border-bottom: 0px !important;
	width: 100% !important;
	justify-content: flex-end;
} */

#jumbotron {
	font-family: "Red Rose", cursive;
	line-height: 1em;
	color: black;
	font-size: 24px;
	max-width: none;
	max-height: none;
}

#github {
	padding: 5rem;
}

div.container.text-center#name {
	font-size: 5rem;
}

div.jumbotron {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
p {
	font-family: "Red Rose", cursive;
	line-height: 1em;
	color: black;
	font-size: 1rem;
	max-width: 400px;
	max-height: 350px;
	align-content: center;
}

p#jumbotron {
	font-size: 0.75rem;
	align-items: center;
	margin-bottom: 0;
}
div.jumbotron {
	font-family: "Red Rose", cursive;
	background-color: #f8e4e4;
}
.container-text-center {
	background-color: #f8e4e4;
}

div.col-sm-3 {
	margin-top: 1rem;
	align-items: center;
	padding-bottom: 0;
}

div.col-sm-4 {
	padding-top: 3rem;
}

.col-sm-3 {
	padding-bottom: 0;
}

div.row {
	margin: 0px 0px 0px 0px;
}

img {
	float: right;
	padding-top: 0.25px;
	padding-bottom: 2rem;
	border-radius: 35px 35px 35px 35px;
}

img.img-responsive {
	padding: 0.25rem 0rem 0.75rem 0rem;
	border-radius: 35px 35px 35px 35px;
	margin-bottom: 1rem;
	max-height: 50%;
}

i.fab {
	font-size: 45px;
	color: #d27d7d;
	padding-top: 7%;
	padding-bottom: 5%;
}

i.fas {
	font-size: 44px;
	color: #d27d7d;
	padding-top: 7%;
	padding-bottom: 5%;
}

#melissa {
	border-radius: 45px 45px 45px 45px;
	padding: 0rem 0rem 0rem 0rem;
}

.container-2 {
	background-color: #f8e4e4;
	border-radius: 5px;
	padding: 10px;
}
.column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

input[type="text"],
select,
textarea {
	font-family: "Red Rose", cursive;
	font-weight: lighter;
	width: 100%;
	padding: 12px;
	border: 1px solid #fccfcf;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	border-radius: 25px;
}
input[type="submit"] {
	background-color: #d27d7d;
	font-family: "Red Rose", cursive;
	font-weight: 500;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	border-radius: 25px;
}
input[type="submit"]:hover {
	background-color: #d27d7d;
	font-family: "Red Rose", cursive;
	font-weight: lighter;
}
.column label {
	font-family: "Red Rose", cursive;
	font-size: 24px;
	font-weight: lighter;
}
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #d27d7d;
	color: white;
	font-family: "Red Rose", cursive;
	font-weight: 500;
	text-align: right;
	padding-right: 1rem;
	height: 2rem;
	text-align: right;
	padding-top: 0.5rem;
}

/* Define page height and font size */
html {
	font-size: 1rem;
	height: 100%;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

@media (max-width: 800px) {
	.flex-container {
		flex-flow: row wrap;
	}

	/* Define breakpoints and font sizes */
	@media (min-width: 640px) and (max-width: 1023px) {
		html {
			font-size: 1.0625rem;
		}
	}

	@media (min-width: 1024px) and (max-width: 1279px) {
		html {
			font-size: 1.125rem;
		}
	}

	/* Define max font size and viewport */
	@media (min-width: 1280px) {
		html {
			font-size: 1.1875rem;
		}
	}
}
